.sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobre-content{
    display: flex;
    justify-content: center;
}

.sobre-col1{
    padding: 0 20px;
    width: 50%;
}

.sobre-content-title{
    color: #fff;
    font-size: 18px;
    font-family: var(--font-haleway);
    margin-bottom: 30px;
}

.sobre-content-title h2 span{
    color: var(--blue);
}

.sobre-content-row2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobre-content-text{
    width: 80%;
    color: #b4b4b4;
    font-weight: 200;
    font-family: var(--font-haleway);
    text-align: justify;
    text-justify: inter-word;
    line-height: 23px;
}

.sobre-facts-container{
    margin-top: 30px;
    display: flex;
    gap: 20%;
    margin-bottom: 20px ;
}

.sobre-facts-child-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-facts-row{
    display: flex;
    gap: 10px;
}

.sobre-facts-row p{
    color: #ffffff;
    font-family: var(--font-haleway);
}


.sobre-checked-icon{
    width: 20px;
    height: 20px;
}
.sobre-facts-icon{
    width: 20px;
    height: 20px;
}

.sobre-tools-icons-container{
    display: flex;
    gap: 15px;
}

.sobre-subtitle{
    font-weight: 900;
    font-family: var(--font-haleway);
    color: #ffffff;
    margin-bottom: 20px ;
}

.sobre-linguas-all{
    display: flex;
    gap: 10px;
}

.sobre-linguas-all p{
    color: #ffffff;
    font-family: var(--font-haleway);
}

.sobre-tool-icon{
    width: 38px;
}


.sobre-imagem-ste{
    width: 500px;
    height: 500px;
    align-self: center;
}



@media screen and (max-height: 815px) {
    .sobre-imagem-ste{
        width: 440px;
        height: 440px;
    }

    .sobre-content{
        height: 65%;
    }

    .sobre-content-title{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .sobre-content-text{
        width: 80%;
        font-size: .9em;
    }

    .sobre-content-row2{
        gap: 15px;
    }

    .sobre-facts-container{
        margin-top: 20px;
        margin-bottom: 20px ;
    }

    .sobre-facts-row p{
        font-size: 15px;
    }

    .sobre-checked-icon{
        width: 17px;
        height: 17px;
    }

    .sobre-tools-container{
        margin-bottom: 12px;
    }

    .sobre-tool-icon{
        width: 35px;
    }

    .sobre-linguas-all p{
        font-size: 15px;
    }
}

@media screen and (max-height: 630px) {
    .sobre-facts-container{
        margin-top: 10px;
        margin-bottom: 10px ;
    }

    .sobre-tool-icon{
        width: 30px;
    }

    .sobre-content-text{
        width: 80%;
        font-size: .88em;
    }

    .sobre-linguas-all p{
        font-size: 14px;
    }
}

@media screen and (max-width: 1220px) {
    .sobre-imagem-ste{
        width: 400px;
        height: 400px;
    }

    .sobre-content-text{
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .sobre-imagem-ste{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .sobre-content{
        justify-content: space-between;
        padding: 0 35px;
    }

    .sobre-col1{
        padding: 0 20px;
        width:80%;
    }

    .sobre-imagem-ste{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 775px) {
    .sobre-content{
        justify-content: space-between;
        padding: 0 35px;
    }

    .sobre-imagem-ste{
        display: none;
    }

    .sobre-col1{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        padding: 0;
    }

    .sobre-content-row2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-content-text{
        width: 100%;
    }

    .sobre-facts-container{
        width: 100%;
        justify-content: space-evenly;
    }

    .sobre-linguas-container,
    .sobre-tools-container{
        width: 100%;
    }

    .sobre-linguas-all,
    .sobre-tools-icons-container{
        justify-content: center;
    }

}

@media screen and (max-width: 370px) {
    .sobre-content{
        padding: 0 10px;
    }
}
